.carousel-main{
    display: flex;
}

img{
    max-width: 100%;
}

mat-card-content{
    display: flex;
    margin-bottom: 1rem;
}

mat-card-content a{
    margin-right: 2%;
}

mat-card-actions{
display: flex;
justify-content: space-evenly;
padding-top: .5rem;
border: 1px solid #bbb;
align-items: center;
padding-bottom: .5rem;
background: #ddd;
max-width: 100%;
margin: auto;
}

.carousel-main .ng-star-inserted {
    max-width: 95%;
    margin-right: 2%;
    margin-left: 2%;
}