<mat-card-content>
  <span style="flex:auto;"></span>
  <a routerLink="create">
    <button mat-raised-button mat-button color="primary">
      Nuevo producto
    </button>
  </a>
</mat-card-content>

<table *ngIf="dataSource" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="marke">
    <th mat-header-cell *matHeaderCellDef> Marca </th>
    <td mat-cell *matCellDef="let element"> {{element.marke}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef> Modelo </th>
    <td mat-cell *matCellDef="let element"> {{element.model}} </td>
  </ng-container>

  <!-- Year Column -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Año </th>
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Precio </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <ng-container matColumnDef="stock">
    <th mat-header-cell *matHeaderCellDef> Stock </th>
    <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
  </ng-container>

  <ng-container matColumnDef="data_sheet">
    <th mat-header-cell *matHeaderCellDef> Ficha técnica </th>
    <td mat-cell *matCellDef="let element">
      <a [href]="element.data_sheet" target="_blank"
        class="col-lg-6 text-decoration-none d-flex justify-content-center">
        <mat-icon color="primary">visibility</mat-icon>
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button mat-button color="accent" routerLink="{{element.id}}">
        Editar
      </button>
      <button mat-raised-button mat-button class="btn btn-primary" mwlConfirmationPopover
        [popoverTitle]="'¿Desea eliminar este producto?'" [popoverMessage]="" (confirm)="deleteProduct(element.id)"
        placement="left" color="warn">Eliminar</button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div *ngIf="!dataSource"></div>