.row{
    width: 95%;
    display: flex;
    justify-content: center;
    margin-left: 1%;
}


mat-form-field{
    width: 100%;
}

.mat-card-header{
    margin-left: 1%;
}

mat-card-actions{
    margin-left: 2%;
}