.add-row {
    background: #00968855;
    cursor: pointer;
    user-select: none;
    margin-top: 2rem;
}

.add-row p {
    margin: 0;
    font-weight: 500;
    color: #222;
}

span {
    line-height: 1!important;
    font-size: 2rem!important;
}

.vw3-commonTeaserHeadline__main {
    font-size: 1.25rem;
    margin-top: 2rem;
    font-weight: normal;
}