<mat-horizontal-stepper>
    <mat-step>
<div *ngIf="product">
<form [formGroup]="form" (ngSubmit)="actualizarProduct($event)">
    <mat-card>
        <mat-card-header>
        <mat-card-title><h2>Editar producto</h2></mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <div class="row">
                    <div class="col">
             <mat-form-field>
                <mat-label>Marca</mat-label>
                <input matInput type="text" formControlName="marke">
            </mat-form-field>
        </div>
        <div class="col">
 <mat-form-field>
    <mat-label>Modelo</mat-label>
    <input matInput type="text" formControlName="model">
</mat-form-field>

</div>
                </div>
<div class="row">
    <div class="col">
<mat-form-field>
<mat-label>Año</mat-label>
<input matInput type="text" formControlName="year">
</mat-form-field>
</div>


    <div class="col">
<mat-form-field>
<mat-label>Precio</mat-label>
<input matInput type="text" formControlName="price">
</mat-form-field>
</div>
</div>
<div class="row">
    <div class="col">
<mat-form-field>
<mat-label>Stock</mat-label>
<input matInput type="number" formControlName="stock">
</mat-form-field>
</div>
<div class="col">
    <mat-form-field>
    <mat-label>Referencia</mat-label>
    <input matInput type="text" formControlName="reference">
    </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field>
        <mat-label>Ficha técnica</mat-label>
        <input matInput type="text" formControlName="data_sheet">
        </mat-form-field>
        </div>
    <div class="col">
        <img [src]="mainImg">
        <input type="file" (change)="productImage($event)">
</div>
</div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button mat-button color="primary" type="submit">Actualizar</button>
        </mat-card-actions>
    </mat-card>
</form>
</div>
</mat-step>
<mat-step>
    <app-productos-info>

    </app-productos-info>
</mat-step>
</mat-horizontal-stepper>