
  <mat-card-content>
    <span style="flex:auto;"></span>
<a routerLink="create">
  <button mat-raised-button mat-button color="primary">
  Nuevo asesor
</button>
</a>
</mat-card-content>

<table *ngIf="dataSource" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="document">
      <th mat-header-cell *matHeaderCellDef> Documento </th>
      <td mat-cell *matCellDef="let element"> {{element.document}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef> Foto </th>
      <td mat-cell *matCellDef="let element">
       <img [src]="element.image" style="width:calc(20vw + 4rem); padding: 2rem">
      </td>
    </ng-container>

    <!-- Year Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef> Apellidos </th>
      <td mat-cell *matCellDef="let element"> {{element.surnames}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Correo </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Teléfono </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button mat-button color="accent"
        routerLink="{{element.id}}">
          Editar
        </button>
         <button mat-raised-button mat-button class="btn btn-primary"
        mwlConfirmationPopover
        [popoverTitle]="'¿Desea eliminar este asesor?'"
        [popoverMessage]=""
        (confirm)="deleteProduct(element.id)"
        placement="left" color="warn">Eliminar</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="!dataSource"></div>
