@import '~@angular/material/theming';

@include mat-core();

//Primary theme
$emotors-primary: mat-palette($mat-teal);
$emotors-accent:  mat-palette($mat-indigo);
$emotors-warn:    mat-palette($mat-red);


$emotors-theme: mat-light-theme((
  color: (
    primary: $emotors-primary,
    accent: $emotors-accent,
    warn: $emotors-warn,
  )
));

@include angular-material-theme($emotors-theme);
//Dark theme
$emotors-primary-dark: mat-palette($mat-grey,900);
$emotors-accent-dark:  mat-palette($mat-green);
$emotors-warn-dark:    mat-palette($mat-red);

$emotors-theme-dark: mat-light-theme((
  color: (
    primary: $emotors-primary-dark,
    accent: $emotors-accent-dark,
    warn: $emotors-warn-dark,
  )
));
.dark-theme-mode{
  @include angular-material-theme($emotors-theme-dark);
}